:root {
    --x-color: #000000;
    --x-text-color: #000000;
    --x-back-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --x-color: #bbbbbb;
        --x-text-color: #ffffff;
        --x-back-color: #000000;
    }
}
html, body {
    font-family: Times, 'Times New Roman', serif;
    font-size: 105%;
    background-color: var(--x-back-color);
    color: var(--x-color);
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--x-text-color);
}
a, a:visited {
    color: #ff00aa;
}
a:hover {
    font-style: italic;
    font-weight: bold;
}
nav {
    text-align: center;
}
nav a {
    padding: 5px;
}
#container {
    width: 50%;
    margin: 0px auto;
}
@media (max-width: 720px) {
    #container {
        width: 90%;
    }
}
.info-box {
    padding: 0px 10px;
}