:root {
    --x-text-color: #FFFFFF;
    --x-accent-color: #BBAADD;

    font-family: Arial, Helvetica, sans-serif;
}
::selection {
    background-color: var(--x-accent-color);
    color: #FFFFFF;
}
html, body {
    margin: 0px;
    color: var(--x-text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: var(--x-accent-color);
}
a {
    text-decoration: none;
    color: var(--x-accent-color);
}
a:visited {
    color: #FF66FF;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
button {
    color: #FFFFFF;
    background-color: var(--x-accent-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
button:hover, button:active {
    cursor: pointer;
}
header {
    border-bottom: 1px solid var(--x-accent-color);
}
main {
    padding-bottom: 20px;
}
footer {
    border-top: 1px solid var(--x-accent-color);
}
nav {
    padding-bottom: 15px;
}
nav a {
    padding-right: 10px;
}

#background {
    background: linear-gradient(135deg, #111111, #000000);
    z-index: -1337;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#content {
    max-width: 50%;
    margin: 0px auto;
    word-break: break-word;
}
#footer-right {
    text-align: right;
}
@media (max-width: 720px) {
    #content {
        max-width: 90%;
    }
}